.not-found {
    margin: 20px;
    text-align: center;
    padding: 110px;
    margin-left: calc(var(--sidebar-width) + 20px);
    margin-top: calc(var(--navbar-height) + 20px);
}

.home-link {
    text-align: center;
}