.Home {
    margin: var(--home-margin);
    margin-left: calc(var(--sidebar-width) + var(--home-margin));
    margin-top: calc(var(--navbar-height) + var(--home-margin));
    text-align: center;
}

.left-container {
    float: left;
    width: 70%; 
}

.right-container {
    float: right;
    width: 30%; 
}