.AccountCreate {
    margin: 20px;
}

input {
    padding: 10px;
    font-size: larger;
    margin: 10px;
}

label {
    font-size: larger;
}

#is-admin {
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
}