.sidebar {
    width: var(--sidebar-width);
    top: 0;
    left: 0;
    background: #e0e0e0;
    position: fixed;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 1.5px 1.5px 2px;
}

.profile {
    margin-top: 10px;
}

#user-info {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

#name-sidebar {
    font-size: 20px;
}

hr {
    height:1.5px;
    border-width:0;
    color:black;
    background-color:black;
}

.action-button.side {
    background-color: #cdcdcd;
    border: 1px solid rgb(183, 183, 183);
    color: black;
    font-size: large;
    height: 34px;
    width: 160px;
}


.action-button.side:hover {
    background-color: #a5a5a5;
}

#links {
    text-align: center;
    font-size: larger;
    padding: 10px;
}

#links h2 {
    margin: 0;
}

.link {
    height: 34px;
}