.sidebar {
    width: var(--sidebar-width);
    top: 0;
    left: 0;
    background: #e0e0e0;
    position: fixed;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.profile {
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile:hover {
    cursor: pointer;
}

#user-info {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

#name-sidebar {
    font-size: 20px;
    margin: 5px;
}

#division-sidebar {
    margin: 5px;
}

hr {
    height:1.5px;
    border-width:0;
    color:black;
    background-color:black;
}

.action-button.side {
    background-color: #cdcdcd;
    border: 1px solid rgb(183, 183, 183);
    color: black;
    font-size: large;
    height: 34px;
    width: 160px;
}


.action-button.side:hover {
    background-color: #a5a5a5;
}

#links {
    text-align: center;
    font-size: larger;
    padding: 10px;
}

#links h4 {
    margin: 0;
}

.link {
    height: 34px;
}