.InternCreate {
    text-align: center;
}

.select__value-container {
    padding-left: 12px !important;
}

#bio {
    background-color: rgb(252,252,252);
    border-color: #bbbbbb;
    min-width: 250px;
    max-width: 1000px;
}

