.not-found {
    margin: var(--home-margin);
    text-align: center;
    padding: 110px;
}

.not-found.logged-in {
    margin-left: calc(var(--sidebar-width) + var(--home-margin));
    margin-top: calc(var(--navbar-height) + var(--home-margin));
}

.home-link {
    text-align: center;
}