.Announcements {
    min-width: fit-content;
}

.Announcements h2 {
    font-size: 60px;
    margin: 20px;
}

.action-button.post {
    background-color: yellow;
    border: 1px solid black;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    color: black;
    height: 50px;
    margin: 0;
    width: 170px;
}

.announcement-feed {
    padding-right: 15px;
    margin-top: 20px;
    height: 560px;
    overflow-y: scroll;
}

.action-button.post:hover {
    background-color: rgb(212, 212, 25);
}