.AccountLogin {
    margin: 20px;
}

.login-button {
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 17px;
    height: 40px;
    max-width: 400px;
    overflow: hidden;
    padding: 0 12px;
    transition: 0.2s;
    width: 100%;
}

#sso {
    background: #1479fb;
    border: 1px solid #1479fb;
    color: #fff;
}

#test {
    background: #fbd114;
    border: 1px solid #fbd114;
    color: rgb(0, 0, 0);
}

#sso:hover {
    background-color: #0b65db;
    cursor: pointer;
}

#test:hover {
    background-color: #e2ba08;
    cursor: pointer;
}