.AccountCreate {
    margin: 40px;
    text-align: center;
}

#temp-page-warn {
    font-size: 20px;
}

.input-field {
    padding: 10px;
}

.input-field.ac {
    height: 25px;
    max-width: 300px;
}

#unixname {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#name {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#admin-span {
    font-size: large;
    margin-bottom: 35px;
}

.action-button {
    background: #1479fb;
    border: 1px solid #1479fb;
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    font-size: 24px;
    height: 50px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 12px;
    transition: 0.2s;
    width: 100%;
}

.action-button:hover {
    background-color: #0b65db;
    cursor: pointer;
}